.contact {
  padding-left: 20px;
  padding-right: 20px;
}

.supra_title, .sub_title, .title {
  text-align: center;
  margin: 0;
}

.supra_title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  margin-bottom: 2rem;
}

.title {
  margin: 10px 0 20px 0;
  font-size: 48px;
  line-height: 1;
}

.sub_title {
  font-size: 16px;
  margin-bottom: 16px;
}

.separator-img {
  margin-bottom: 16px;
  width: 100%;
  height: 97px;
  object-fit: scale-down;
}

.contact img {
max-width: 100%;
}

.contact .form__message {
align-items: flex-start;
}

.contact .icon-success {
margin-top: 0.2rem;
}

.field-group {
margin-bottom: 3rem;  
}

.field-group-title {
text-transform: uppercase;
font-size: 14px;
font-weight: 500;
grid-column: 1/3;
}
.field-group-title-small {
text-transform: uppercase;
font-size: 14px;
font-weight: 500;
}

.field-group-description {
font-size: 16px;
font-weight: 400;
grid-column: 1/3;
}

.contact .field {
margin-bottom: 1.5rem;
border-bottom: 1px solid #000000;
}

.select__input {
padding: 0!important;
}

.contact .comment-field .text-area {
border: 1px solid #000000;
}

.field__input {
padding-left: 0!important;
padding-right: 0!important;
font-size: 16px;
}
.field__label {
left: 0!important;
font-size: 16px;
}

.field:after, .select:after, .customer .field:after, .customer select:after, .localization-form__select:after {
display: none;
}

.services-select-wrapper {
grid-column: 1/3;
}

.services-select {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 16px 20px;
width: 100%;
}

.services-option span {
display: block;
border: 1px solid #000000;
border-radius: 9999px;
padding: 6px 16px;
cursor: pointer;
transition: all .2s ease;
}

.services-option input[type="checkbox"] {
display: none;
}

.services-option:hover span {
background-color: rgba(0, 0, 0, 0.40);
border: 1px solid rgba(0, 0, 0, 0.40)!important;
color: #ffffff;
}

.services-option input:checked + span {
background-color: #000000;
color: #ffffff;
}

.assets-label {
display: block
margin-bottom: 16px;
}

.field-group input[type="checkbox"] {
flex-shrink: 0;
width: 2rem;
height: 2rem;
}

.contact__button .button {
display: block;
margin: 0 auto;
border-radius: 9999px;
}
.contact__button .button:after {
box-shadow: none;
}

.contact__button {
margin-top: 3rem;
}

@media screen and (min-width: 750px) {
.contact {
  padding-left: 80px;
  padding-right: 80px;
  margin: 100px auto;
  border-radius: 20px;
  border: 2px solid #000000;
}
.title {
  font-size: 60px;
}
.sub_title {
  font-size: 18px;
  margin-bottom: 40px;
}
.separator-img {
  margin-bottom: 2rem;
}
.contact .field {
  margin-bottom: 2rem;
}
.services-option span {
  padding: 6px 30px;
}
.contact__button {
  margin-top: 4rem;
}
.contact__fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}
}
